extends layout
block content
    .container
        script.
            $(document).ready(function(){
                $('#mergeTracks').click(function(){
                    var tracks = [];
                    var checkboxes = document.getElementsByClassName('trackSelect');
                    var link = '/merge?';
                    var checked = 0;
                    if(checkboxes){
                        for (var i = checkboxes.length - 1; i > 0 ; i--){
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].checked){
                                link += 'tracks=' + checkboxes[i].value + '&';
                                checked++;
                            }
                        }
                        if(checked == 2){
                            $(this).attr('href', link);
                        }else{
                            $("<div>You must select two tracks to merge.</div>").dialog({
                                title: 'Error',
                                resizable: false,
                                modal: true,
                                buttons: {
                                    'Ok': function(){
                                        $(this).dialog('close');
                                    }
                                }
                            });
                            return false;
                        }
                    } else {
                        $("<div>You must select two tracks to merge.</div>").dialog({
                            title: 'Error',
                            resizable: false,
                            modal: true,
                            buttons: {
                                'Ok': function(){
                                    $(this).dialog('close');
                                }
                            }
                        });
                        return false;
                    }
                });
                $('#deleteTracks').click(function(){
                    var tracks = [];
                    var checkboxes = document.getElementsByClassName('trackSelect');
                    var link = '/delete?';
                    var checked = 0;
                    if(checkboxes){
                        for (var i = checkboxes.length - 1; i > 0 ; i--){
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].checked){
                                link += 'tracks=' + checkboxes[i].value + '&';
                                checked++;
                            }
                        }
                        if(checked){
                            $(this).attr('href', link);
                        } else{
                            $("<div>You must select at least one track to delete.</div>").dialog({
                                title: 'Error',
                                resizable: false,
                                modal: true,
                                buttons: {
                                    'Ok': function(){
                                        $(this).dialog('close');
                                    }
                                }
                            });
                            return false;
                        }
                    } else {
                        $("<div>You must select at least one track to delete.</div>").dialog({
                            title: 'Error',
                            resizable: false,
                            modal: true,
                            buttons: {
                                'Ok': function(){
                                    $(this).dialog('close');
                                }
                            }
                        });
                        return false;
                    }
                });
            });
        div(id="alert" style='display:none').alert.alert-warning
            p You must select two tracks to merge.
        h1 Tracks
        input(type='hidden').trackSelect
        if tracks != ''
            .row
                .col-md-3
                    p.font-weight-bold Track Start Time
                .col-md-2
                    p.font-weight-bold Track Distance
                .col-md-3
                    p.font-weight-bold Track Start Location
                .col-md-3
                    p.font-weight-bold Track End Location
            each track in tracks
                - var dateAndTime = track.date.replace(/:00 GMT.*/, '');
                .row
                    .col-md-3
                        input(value= track.timestamp type='checkbox').trackSelect
                        |  
                        a(href='/' + track.timestamp) #{dateAndTime}
                    .col-md-2
                        p #{track.distance}
                    .col-md-3
                        p #{track.startAddress}
                    .col-md-3
                        p #{track.endAddress}
        else
            p No tracks to display.
        .row
            .col-md-1
                a(href='' role='button' id='mergeTracks').btn.btn-primary Merge
            .col-md-1
                a(href='' role='button' id='deleteTracks').btn.btn-primary Delete 
