doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= 'OSMAndTracker'
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='https://www.gstatic.com/charts/loader.js')
        link(rel="stylesheet" href="stylesheets/style.css")
        link(rel="stylesheet" href="stylesheets/bootstrap.css")
        link(rel="stylesheet" href="stylesheets/jquery-ui.css")
        link(rel="stylesheet" href="stylesheets/leaflet.css")
        script(src="javascripts/leaflet.js")
        script(src="javascripts/jquery/jquery-3.2.1.js")
        script(src="javascripts/bootstrap.js")
        script(src="javascripts/jquery/jquery-ui.js")
    block content
